<<<<<<< HEAD

.contenedor {
  background-color: white;
  height: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contenedorcont {
  background-color: white;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cabecera {
  background: linear-gradient(-135deg, #6666FF, #FF66FF);
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;

}
.main{
  padding-top: 6rem;
}
.noCirculo {
  height: 70%;
  width: 45%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.retro {
  font-style: italic;
  font-size: 50px;
  color: linear-gradient(-135deg, black, grey)
}
.megacu {
  height: 69%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.megacu2 {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cuadrado {
  margin-top: auto;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.pie {
  background-color: grey;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botones {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form{
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 10px;
}

.lista{
  margin: auto;
  height: auto;
  width: 150px;


}
.img{
  height: 220px;
  width: 220px;
}
.img:hover {
  border: 2px solid #FF66FF;

}
input:invalid{
  border: 3px solid red;
}
a:hover {
  background-color: lightseagreen;
}
a{
  color: antiquewhite;
}
.imgAcc{
  height: 100%;
  width: 100%;
}
#textocap{
  display: none;
}
.super{
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
height: 80%;
width: 70%;
}
.ex{
  width: 30%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  
}

.texto {
  height: 100%;
  width: 50%;
=======

.contenedor {
  background-color: white;
  height: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contenedorcont {
  background-color: white;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cabecera {
  background: linear-gradient(-135deg, #6666FF, #FF66FF);
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;

}
.main{
  padding-top: 6rem;
}
.noCirculo {
  height: 70%;
  width: 45%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.retro {
  font-style: italic;
  font-size: 50px;
  color: linear-gradient(-135deg, black, grey)
}
.megacu {
  height: 69%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.megacu2 {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cuadrado {
  margin-top: auto;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.pie {
  background-color: grey;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botones {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form{
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 10px;
}

.lista{
  margin: auto;
  height: auto;
  width: 150px;


}
.img{
  height: 220px;
  width: 220px;
}
.img:hover {
  border: 2px solid #FF66FF;

}
input:invalid{
  border: 3px solid red;
}
a:hover {
  background-color: lightseagreen;
}
a{
  color: antiquewhite;
}
.imgAcc{
  height: 100%;
  width: 100%;
}
#textocap{
  display: none;
}
.super{
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
height: 80%;
width: 70%;
}
.ex{
  width: 30%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  
}

.texto {
  height: 100%;
  width: 50%;
>>>>>>> aa635ac89f4ca6c2a74ce5a3c47f6b80dcc738d0
}